<div class="flex justify-center items-center group" x-data="darkmode">
  <div class="relative rounded-full w-12 h-6 transition duration-200 ease-linear" :class="[enabled ? 'bg-gray-500' : 'bg-gray-800']">
    <div class="absolute flex flex-row justify-between content-center">
      <div class="w-6 h-6 flex-none">&nbsp;🌜</div>
      <div class="w-6 h-6 flex-none">🌞</div>
    </div>
    <label for="toggle" class="absolute left-0 bg-white border-2 border-{{ $.Site.Params.style.color }}-600 mb-2 w-6 h-6 rounded-full transition transform duration-100 ease-linear cursor-pointer group-hover:shadow-lg" :class="[enabled ? 'translate-x-full' : 'translate-x-0']" :title="[enabled ? 'Disable Dark Mode' : 'Enable Dark Mode']">
    </label>
    <input type="checkbox" id="toggle" name="toggle" class="appearance-none w-full h-full active:outline-none focus:outline-none" @click="toggle" >
  </div>
</div>
